@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>
        <div class="alert alert-info" role="alert">
            Senado de la Republica
        </div>
    </h2>
    <div class="col-md-12">
        <ul>
            <li><a href="/Jedis">Jedis</a></li>
            <li><a href="/Holograms">Hologramas</a></li>
            <li><a href="/Orders">Pedidos</a></li>
        </ul>
    </div> 
</div>
